@charset "UTF-8";

.login-background-image {
    z-index: 0;
    background-image: url('../img/Login1.jpg');
    background-size: cover;
    border-radius: 50px;
    transform: translateX(12%);
  
  }
  
  .overlay-content2 {
    z-index: 1;
    border-radius: 50px;
    color: black;
    background-color: white;
    transform: translateX(-12%);
  }
  
  .card-img-overlay-extra {
    width: 500px;
    background-color: white;
    border-radius: 50px;
  }
  
  .view-profile-box {
    height: 70vh;
    color: black;
    border-radius: 50px;
  }
  
  .theme-orange {
    background-color: #FEAD76;
  }
  
  .view-profile-font-sizing {
    font-weight: 400; 
    font-size: 3vh;
  }
  
  .add-class-btn {
    margin-right: 20px; 
    border-radius: 100px;
  }
  
  .add-class-label {
    font-size: 20px; 
    margin-bottom: 30px;
  }
  
  .view-class-btn {
    background-color: white; 
    border-radius: 25px; 
    width: 10vw;
  }
  
  .view-class-info {
    background-color: white; 
    width: 80%; 
    border-radius: 50px; 
    padding-top:8vh; 
    padding-bottom: 8vh; 
    margin-top: 5vh; 
    margin-bottom: 5vh;
    padding-left: 10vh; 
    padding-right: 10vh;
  }
  
  .class-info-no-class {
    background-color: white; 
    width: 80%; 
    border-radius: 50px; 
    padding-top:8vh; 
    padding-bottom: 8vh; 
    margin-top: 5vh; 
    margin-bottom: 5vh; 
    height: 72vh;
  }
  
  .view-class-no-classes {
    background-color: white; 
    width: 80%; 
    border-radius: 50px; 
    padding-top:8vh; 
    padding-bottom: 8vh; 
    margin-top: 5vh; 
    margin-bottom: 5vh; 
    height: 72vh;
  }

  .btn-theme-blue {
    --bs-btn-color: #fff;
    --bs-btn-bg: #86DBFF;
    --bs-btn-border-color: #86DBFF;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #86DBFF;
    --bs-btn-hover-border-color: #86DBFF;
    --bs-btn-focus-shadow-rgb: 38, 38, 38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #86DBFF;
    --bs-btn-active-border-color: #86DBFF;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #86DBFF;
    --bs-btn-disabled-border-color: #86DBFF;
  }
  
  .btn-theme-orange {
    --bs-btn-color: #fff;
    --bs-btn-bg: #FEAD76;
    --bs-btn-border-color: #FEAD76;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FEAD76;
    --bs-btn-hover-border-color: #FEAD76;
    --bs-btn-focus-shadow-rgb: 38, 38, 38;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FEAD76;
    --bs-btn-active-border-color: #FEAD76;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #FEAD76;
    --bs-btn-disabled-border-color: #FEAD76;
  }

  .gradient-custom {
    /* fallback for old browsers */
    background: #fad0c4;
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #86DBFF, white, #F7FF9A, #FEAD76);
  }
  
  /* <uniquifier>: Use a unique and descriptive class name*/
  /* <weight>: Use a value from 300 to 700*/
  .font-primary {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }