<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Forms" />
    </system.web>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="post" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <handlers>
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
            <add name="FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\php-8.3.3-nts-Win32-vs16-x64\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>

        <defaultDocument>
            <files>
                <add value="insertion.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
